cluster:
  name: {{ getenv "ELASTICSEARCH_CLUSTER_NAME" "elasticsearch" }}
  {{- if (getenv "ELASTICSEARCH_CLUSTER_MODE" "false" | conv.Bool) }}
  initial_master_nodes:
    {{- range (getenv "ELASTICSEARCH_INITIAL_MASTER_NODES" "elastic-node1" | strings.Split ",") }}
    - {{ . | strings.TrimSpace }}
    {{- end }}
  {{- end }}
  routing:
    allocation:
      disk:
          threshold_enabled: false

node:
  name: {{ getenv "ELASTICSEARCH_NODE_NAME" "elastic-node1" }}
  roles:
    {{- if (getenv "ELASTICSEARCH_NODE_MASTER" "true" | conv.Bool) }}
    - master
    {{- end }}
    {{- if (getenv "ELASTICSEARCH_NODE_DATA" "true" | conv.Bool) }}
    - data
    {{- end }}
    {{- if (getenv "ELASTICSEARCH_NODE_INGEST" "true" | conv.Bool) }}
    - ingest
    {{- end }}

discovery:
  {{- if not (getenv "ELASTICSEARCH_CLUSTER_MODE" "false" | conv.Bool) }}
  type: single-node
  {{- else }}
  seed_hosts:
  {{- range (getenv "ELASTICSEARCH_DISCOVERY_SEED_HOSTS" "elastic-node1" | strings.Split ",") }}
  - {{ . | strings.TrimSpace }}
  {{- end }}
  {{- end }}

network:
  host: {{ getenv "ELASTICSEARCH_NETWORK_HOST" "0.0.0.0" }}
  {{- if (getenv "ELASTICSEARCH_NETWORK_PUBLISH_HOST") }}
  publish_host: {{ getenv "ELASTICSEARCH_NETWORK_PUBLISH_HOST" }}
  {{- end }}

path:
  data: /usr/share/elasticsearch/data
  logs: /usr/share/elasticsearch/logs
  repo:
    - /usr/share/elasticsearch/backup

bootstrap:
  memory_lock: {{ getenv "ELASTICSEARCH_BOOTSTRAP_MEMORY_LOCK" "true" | conv.Bool }}

http:
  port: {{ getenv "ELASTICSEARCH_HTTP_PORT" "9200" }}
  compression: {{ getenv "ELASTICSEARCH_HTTP_COMPRESSION" "true" | conv.Bool }}

xpack:
  security:
    enabled: {{ getenv "ELASTICSEARCH_XPACK_SECURITY_ENABLED" "true" | conv.Bool }}
    transport:
      ssl:
        enabled: {{ getenv "ELASTICSEARCH_XPACK_SECURITY_TRANSPORT_SSL_ENABLED" "false" | conv.Bool }}
        verification_mode: certificate
        client_authentication: required
        key: {{ getenv "ELASTICSEARCH_XPACK_SECURITY_TRANSPORT_SSL_KEY" "node-key.pem" }}
        certificate: {{ getenv "ELASTICSEARCH_XPACK_SECURITY_TRANSPORT_SSL_CERTIFICATE" "node.pem" }}
        certificate_authorities: {{ getenv "ELASTICSEARCH_XPACK_SECURITY_TRANSPORT_SSL_CERTIFICATE_AUTHORITIES" "root-ca.pem" }}
    http:
      ssl:
        enabled: {{ getenv "ELASTICSEARCH_XPACK_SECURITY_HTTP_SSL_ENABLED" "false" | conv.Bool }}
        key: {{ getenv "ELASTICSEARCH_XPACK_SECURITY_HTTP_SSL_KEY" "node-key.pem" }}
        certificate: {{ getenv "ELASTICSEARCH_XPACK_SECURITY_HTTP_SSL_CERTIFICATE" "node.pem" }}
        certificate_authorities: {{ getenv "ELASTICSEARCH_XPACK_SECURITY_HTTP_SSL_CERTIFICATE_AUTHORITIES" "root-ca.pem" }}
